/*RESET*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};
body{
    color: white;
    
}

/*COMMON*/
main,footer{
    padding-left: 0.5%;
}
p{
    padding-top: 2% ;
    padding-bottom: 2%;
}

h2{
    font-size: 1rem;
    color: gray;
}
ul{
    list-style-type: symbols(circle);
    padding: 10%;
}




/*HEADER*/
header{
    height: 20%;
    background-color:dodgerblue;
    background-image: url(../img/pattern.png);
    background-size: 33%;
}
.logo{
    width: 20%;
    padding-top: 3%;
    padding-left: 1%;
}

/*BODY*/

.titolo{
    padding-top: 2%;
    font-size: 3rem;
}

.autore{
    color:dodgerblue;
}
.data{
    font-size: 0.8rem;
    color: gray;
}
.descrizione-foto{
    font-size: 0.8rem;
}
.evidenziato{
    background-color: yellow;
}
.riga-blu{
    background-color: deepskyblue;
}

/*FOOTER*/
footer{
    height: 200px;
}
.articolo{
    height: 100%;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.nome-articoli{
    margin-top: 10;
    padding-left: 10;
    color:whitesmoke;
    font-size: 1.2rem;
}
.articolo2{
    height: 100%;
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
